// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  @include bbb-flat-style($base-font-color, white);
    &:hover,
    &:focus {
      color: shade(white,10%);
    }
}
.button.small {
  font-size: modular-scale(-2);
}

.pagination {
  @include inline-list;
  li {
    a {
      @include bbb-flat-style($base-background-color, white);
      font-size: 0.6em;
      margin: 0.6em;
      color: $medium-gray;

      &:hover,
      &:focus {
        color: shade($medium-gray,10%);
      }
    }
  }
  li.current {
    a {
      @include bbb-flat-style($base-font-color, white);
      font-size: 0.6em;
      margin: 0.6em;
      &:hover,
      &:focus {
      color: #fff;
      }
    }
  }
}
