// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
// Uncomment this for a sticky footer.
//
 .wrapper-for-content-outside-of-footer {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -4em;
 }

  html, body {
    height: 100%;
  }

 .wrapper-for-content-outside-of-footer:after {
   content: "";
   display: block;
 }

 .footer-2, .wrapper-for-content-outside-of-footer:after {
   height: 4em;
 }

.footer-2 {
  $dark-gray: #333 !default;
  $navigation-background: $dark-gray;

  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: $navigation-background;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  min-height: 5em;
//  display: block;

  color: $footer-link-color;

  .footer-wrapper {
    @include clearfix;
    @include outer-container;
  }

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-bottom: 0;
    float: left;
  }

  ul {
    display: table-row;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
    float: left;
    line-height: 1.8em;
    margin-left: 1em;
    margin-bottom: 0;
  }

  ul li {
    list-style: none;
    padding-right: 1em;
//    display: inline;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;
    display: table-cell;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-infomatics {
      font-size: 0.8em;
    .copyright {
      @include media($small) {
        display: none;
      }
    }
  }

  .footer-secondary-links {
    @include media($large) {
      float: right;
    }
    @include media($medium) {
      display: none;
    }
  }

}
