include partials/_viewtop.php
include partials/about/_age.php
include ../common/_mixins
.postheader.m-container
  .title
    h1: !=$page->title
  .description
  hr
.content.m-container
  .about-section.m-row
    .m-col-m-3
      include partials/about/_me
    .m-col-m-4
      aside
        img.th(src="images/about/chefsselfie_custom.jpg" alt="Jacob Moen" title="Jacob Moen")
    .m-col-m-5
      section(role="main")
        include partials/about/_introduction
  +icondiv('heart')
  section.about-section.m-row
    .m-col-m-3
      i.fa.fa-cloud.fa-5x
    .m-col-m-9
      h2: |Elsewhere
      include partials/about/_elsewhere
  +icondiv('heart')
  section.about-section.m-row
    .m-col-m-3
      i.fa.fa-cogs.fa-5x
    .m-col-m-9
      h2: |Skills
      include partials/about/_skills
  +icondiv('heart')
  section.about-section.m-row
    .m-col-m-3
      i.fa.fa-check-square-o.fa-5x
    .m-col-m-9
      h2: |Projects
      include partials/about/_projects
  +icondiv('heart')
  section.about-section.m-row
    .m-col-m-3
      i.fa.fa-asterisk.fa-5x
    .m-col-m-9
      h2: |Trivia
      include partials/about/_trivia
  +icondiv('heart')
  section.about-section.m-row
    .m-col-m-3
      i.fa.fa-camera-retro.fa-5x
    .m-col-m-9
      h2: |Gallery
      !=$content
  +icondiv('heart')
  section.about-section.m-row
    .m-col-m-3
      i.fa.fa-code.fa-5x
    .m-col-m-9
      h2: |About the site
      include partials/about/_site
  +icondiv('heart')
