include partials/_viewtop.php
include ../common/_mixins
.hero
  .hero-inner
    img(src="jacmoe.jpg" alt="Jacmoes Cyber Soapbox" width="150" height="200")
    .hero-copy
      h1.hero-title Jacmoes Cyber Soapbox
      p This is the homepage of Jacob Moen where he writes increasingly interesting things.
.content
  +icondiv('heart')
.content
  -$post = Page::pages('datetime DESC', array('published', '==', true))->first();
  include partials/_postentry
