include partials/_viewtop.php
include ../common/_mixins
.postheader
  .title
    h1: !=$page->title
  .description
  hr
.content
  .about-section
    div
      aside
        img.th(src="images/about/chefsselfie_custom.jpg" alt="Jacob Moen" title="Jacob Moen")
        include partials/about/_me
    div
      section(role="main")
        |I am blah blah
  +icondiv('heart')
  section.about-section
    div
      include partials/about/_elsewhere
    div
      h2: |Elsewhere
  +icondiv('heart')
  section.about-section
    div
      p: |sdf
    div
    h2: |Skills
  +icondiv('heart')
  section.about-section
    div
      p: |sdf
    div
    h2: |Projects
  +icondiv('heart')
  section.about-section
    div
      p: |sdf
    div
    h2: |Trivia
  +icondiv('heart')
  section.about-section
    div
      p: |sdf
    div
      h2: |Gallery
      !=$content
