include partials/_viewtop.php
include ../common/_mixins
.postheader
  .title
    h1: !=$page->title
  .description
  hr
.content
  div
    aside
      figure
        img.gallery.th.image(src="images/about/chefsselfie_custom.jpg" alt="Jacob Moen" title="Jacob Moen")
        figcaption
        p: |Photo of me
    section(role="main")
      include partials/about/_me
      include partials/about/_elsewhere
  section
    p: |Some stuff here
  section
    p: |other stuff here
  section
    p: |olksdfj
  section
    p: |sdlkfj
  section
    +icondiv('heart')
    !=$content
