include partials/_viewtop.php
include partials/_breadcrumbs.php
.columns
  .one-third.column
    h1: !=$page->title
  .two-thirds.column
    .description
      p: !=$page->description
hr
-$posts = Page::pages('datetime DESC', array('published', '==', true));
.content
  each $post in $posts
    include partials/_postentry
