div
  p
    i.fa.fa-github.fa-lg
    a(href="https://github.com/jacmoe" target="_blank")  Github
    br
div
  p
    i.fa.fa-bitbucket.fa-lg
    a(href="https://bitbucket.org/jacmoe/" target="_blank")  Bitbucket
    br
div
  p
    i.fa.fa-cog.fa-lg
    a(href="https://coderbits.com/jacmoe" target="_blank")  Coderbits
    br
div
  p
    i.fa.fa-google-plus.fa-lg
    a(href="https://plus.google.com/u/0/+JacobMoen/posts" target="_blank")  Google+
    br
div
  p
    i.fa.fa-twitter.fa-lg
    a(href="https://twitter.com/jacmoe" target="_blank")  Twitter
    br
div
  p
    i.fa.fa-codepen.fa-lg
    a(href="http://codepen.io/jacmoe/" target="_blank")  Codepen
    br
div
  p
    i.fa.fa-institution.fa-lg
    a(href="https://www.khanacademy.org/profile/jacmoe/" target="_blank")  Khan Academy
    br
div
  p
    i.fa.fa-code.fa-lg
    a(href="https://www.codecademy.com/jacmoe" target="_blank")  Codecademy
    br
div
  p
    i.fa.fa-facebook.fa-lg
    a(href="https://www.facebook.com/jacmoe" target="_blank")  Facebook
    br
div
  p
    i.fa.fa-linkedin.fa-lg
    a(href="https://www.linkedin.com/in/jacmoe" target="_blank")  LinkedIn
    br
