div(itemscope itemtype="http://schema.org/Person")
  div(itemprop="name")
    strong Jacob Moen
  div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
    div
      span(itemprop="streetAddress") Dragerup Skov
    div
      span(itemprop="addressLocality") Tjebberup
    div
      span(itemprop="postalCode") 4300 Holbæk
    div
      span(itemprop="addressCountry") Denmark
