ul.plain
    li.
        Born in Bærum, just outside of Oslo, Norway in 1968
    li.
        Attended the 1969 Woodstock music festival
    li.
        Lived briefly in Baltimore, Delaware, USA, before being adopted into a Danish family at the age of five.
    li.
        My first language was English (American) but my Danish fosterparents refused to let me speak anything but Danish, and thus I refused to speak for a couple of months.
    li.
        

