header
  nav#navigation(class=($view->params['url'] == 'index') ? 'm-navbar-landing' : '')
    .m-container
      .m-row
        a#m-navbar-brand.m-col-t-9.m-col-m-none.m-left-m(href=Yii::$app->homeUrl)
          img(height="36" width="36" title="Jacmoes Cyber Soapbox"
            src=$pype_logo alt="Jacmoes Cyber Soapbox")
          span.logo-text Jacmoes Cyber Soapbox
          a#m-navbar-show.m-col-t-3.m-hide-m.m-text-right(href="#navigation" title="Hide navigation") &#9776;
          a#m-navbar-hide.m-col-t-3.m-hide-m.m-text-right(href="#" title="Hide navigation") &#9776;
          div#m-navbar-collapse.m-col-t-12.m-show-m.m-col-m-none.m-right-m
            .m-row
              ol
                li
                  !=Html::a('Home', Page::url('/'), array('id' => ($view->params['url'] == 'index') ? 'm-navbar-current' : ''))
                li
                  !=Html::a('Blog', Page::url('blog'), array('id' => ($view->params['url'] == 'blog') ? 'm-navbar-current' : ''))
                li
                  !=Html::a('About', Page::url('about'), array('id' => ($view->params['url'] == 'about') ? 'm-navbar-current' : ''))
                li
                  !=Html::a('', Url::to('/feed'), array('class' => 'rss-link', 'title' => 'RSS Feed'))
