footer#footer
  .footer-wrapper
    .footer-content
      .copyright
        |&copy; 2010 - 2017&nbsp;
        a(href="https://plus.google.com/100178862812199164136?rel=author" target="_blank" title="Written by Jacob Moen") Jacob Moen
      .powered
        !=Pype::powered(true, 'white')
        .dreamhost.right
          a(href="https://uberspace.de/" target="_blank")
            img(src=$uber_logo title="Hosted on asteroids" alt="Hosted on asteroids" width=100 height=53)
