//- block Disqus script on local host
-if(Url::base(true) != 'https://local.jacmoe.dk') {
  :js
    var disqus_config = function () {
        this.page.url = Url::to($page->url, true);
        this.page.identifier = $post->disqusid;
    };
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//jacmoes.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
  noscript
    Please enable JavaScript to view the
    a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
  a.dsq-brlink(href="http://disqus.com")
    blog comments powered by
    span.logo-disqus Disqus
-}