p.
  I am mostly at Twitter and Github, but also other places.
p.
  I have a Danish website as well: #[a(href="https://hjem.jacmoe.dk" target="_blank" rel="noopener noreferrer"): |Den Stammende Kok]

.m-col-m-4
  p
    i.fa.fa-twitter.fa-lg
    a(href="https://twitter.com/jacmoe" target="_blank" rel="noopener noreferrer external")  Twitter
    br
    br
  p
    i.fa.fa-codepen.fa-lg
    a(href="http://codepen.io/jacmoe/" target="_blank" rel="noopener noreferrer external")  Codepen
    br
    br
  p
    i.fa.fa-bitbucket.fa-lg
    a(href="https://bitbucket.org/jacmoe/" target="_blank" rel="noopener noreferrer external")  Bitbucket
    br
    br
.m-col-m-4
  p
    i.fa.fa-github.fa-lg
    a(href="https://github.com/jacmoe" target="_blank" rel="noopener noreferrer external")  Github
    br
    br
  p
    i.fa.fa-facebook.fa-lg
    a(href="https://www.facebook.com/jacmoe" target="_blank" rel="noopener noreferrer external")  Facebook
    br
    br
  p
    i.fa.fa-google-plus.fa-lg
    a(href="https://plus.google.com/u/0/+JacobMoen/posts" target="_blank" rel="noopener noreferrer external")  Google+
    br
    br
.m-col-m-4
  p
    i.fa.fa-institution.fa-lg
    a(href="https://www.khanacademy.org/profile/jacmoe/" target="_blank" rel="noopener noreferrer external")  KhanAcademy
    br
    br
  p
    i.fa.fa-linkedin.fa-lg
    a(href="https://www.linkedin.com/in/jacmoe" target="_blank" rel="noopener noreferrer external")  LinkedIn
    br
    br
