p.
  I am a #{$age} year old wizard in red robes with a grey beard and balding hair.
p.
  Well, at least that's what most people would think, judging by my online second self, but there's more.
p.
  My interests is an eclectic mix of programming, philosophy, humour, technology and culture. And cats!