p.
    This site is made using my own flat file CMS #[a(href="https://pype.jacmoe.dk/" rel="external noopener noreferrer" target="_blank"): |Pype], using the #[a(href="http://www.yiiframework.com/" rel="external noopener noreferrer" target="_blank"): |Yii] PHP framework, with the help of #[a(href="http://mcss.mosra.cz/" rel="external noopener noreferrer" target="_blank"): |m.css], #[a(href="http://sass-lang.com/" rel="external noopener noreferrer" target="_blank"): |Sass], #[a(href="https://gulpjs.com/" rel="external noopener noreferrer" target="_blank"): |Gulp.js] and #[a(href="https://deployer.org/" rel="external noopener noreferrer" target="_blank"): |Deployer].
//p.
    Link to blog post about the site here.
