ul.fancy
  li.
      C++ (Qt5, OGRE, ..)
  li.
      C
  li.
      PHP (Yii Framework, Deployer, ..)
  li.
      CMake
  li.
      Sass
  li.
      Python
  li.
      Pascal / Rust / Racket
  li.
      HTML/CSS/JavaScript (HTML5/CSS3, jQuery, Gulp.js, ..)
