!!!
%html(lang="en")
  -set mytype = 'about'
  -include 'header.haml' with {'type': mytype}
  %body
    .wrapper-for-content-outside-of-footer
      / main menu
      -include 'mainmenu.haml' with {'type': mytype}
      %main#main
        %h1.header About
        %hr
        .cards
          .card
            .card-header
              %span.quiet Contact:
            .card-copy
              %div(itemscope itemtype="http://schema.org/Person")
                %a(itemprop="url" href="https://jacmoe.dk/about")
                  %div(itemprop="name")
                    %strong Jacob Moen
                %div(itemprop="address"
                  itemscope itemtype="http://schema.org/PostalAddress")
                  %div
                    %div
                      %span(itemprop="streetAddress") Dragerup Skov
                    %div
                      %span(itemprop="addressLocality") Tjebberup
                    %div
                      %span(itemprop="postalCode") 4300
                      Holbæk
                    %div
                      %span(itemprop="addressCountry") Denmark
          .card
            .card-header Jacob Moen
            .card-copy
              %img.gallery.th.image(src="content/images/about/chefsselfie_custom.jpg"
                alt="Jacob Moen" title="Jacob Moen")
          .card
            .card-header
              %span.quiet Elsewhere
            .card-copy
              %div
                %p
                  %i.fa.fa-github.fa-lg
                  %a(href="https://github.com/jacmoe"
                    target="_blank")  Github
                  %br
              %div
                %p
                  %i.fa.fa-bitbucket.fa-lg
                  %a(href="https://bitbucket.org/jacmoe/"
                    target="_blank")  Bitbucket
                  %br
              %div
                %p
                  %i.fa.fa-cog.fa-lg
                  %a(href="https://coderbits.com/jacmoe"
                    target="_blank")  Coderbits
                  %br
              %div
                %p
                  %i.fa.fa-google-plus.fa-lg
                  %a(href="https://plus.google.com/u/0/+JacobMoen/posts"
                    target="_blank")  Google+
                  %br
              %div
                %p
                  %i.fa.fa-twitter.fa-lg
                  %a(href="https://twitter.com/jacmoe"
                    target="_blank")  Twitter
                  %br
              %div
                %p
                  %i.fa.fa-codepen.fa-lg
                  %a(href="http://codepen.io/jacmoe/"
                    target="_blank")  Codepen
                  %br
              %div
                %p
                  %i.fa.fa-institution.fa-lg
                  %a(href="https://www.khanacademy.org/profile/jacmoe/"
                    target="_blank")  Khan Academy
                  %br
              %div
                %p
                  %i.fa.fa-code.fa-lg
                  %a(href="https://www.codecademy.com/jacmoe"
                    target="_blank")  Codecademy
                  %br
              %div
                %p
                  %i.fa.fa-facebook.fa-lg
                  %a(href="https://www.facebook.com/jacmoe"
                    target="_blank")  Facebook
                  %br
              %div
                %p
                  %i.fa.fa-linkedin.fa-lg
                  %a(href="https://www.linkedin.com/in/jacmoe"
                    target="_blank")  LinkedIn
                  %br
        .row
          .quiet.text-center.row
            Check out my Danish homepage:
            %a(href="https://hjem.jacmoe.dk/") Den Stammende Kok
        .ui.horizontal.divider
          %i.fi-heart
        .row
          .half
            %p
          .half
            %p
        / content
        =content
    / Common includes
    -include 'footer.haml' with {'type': mytype}
    -include 'scripts.haml'
    -include 'ga_track.haml'
