!!!
%html(lang="en")
  -set mytype = 'blog'
  -include 'header.haml' with {'type': mytype}
  %body
    .wrapper-for-content-outside-of-footer
      -include 'mainmenu.haml' with {'type': mytype}
      %main#main
        %h1.header Blog
        %hr
        -include 'pagination.twig' with { currentPage : paginator.offset,
          lastPage: paginator.allpages|length, showAlwaysFirstAndLast: false} only
        .clearfix
        -if paginator.pages|length == 0
          .content-title Didn't write anything yet..
        -for post in paginator.pages
          -include 'blogentry.haml' with {'entry': post}
        -include 'pagination.twig' with { currentPage : paginator.offset,
          lastPage: paginator.allpages|length, showAlwaysFirstAndLast: false} only
    / common includes
    -include 'footer.haml' with {'type': mytype}
    -include 'scripts.haml'
    -include 'ga_track.haml'
