!!!
%html(lang="en")
  -set mytype = 'index'
  -include 'header.haml' with {'type': mytype}
  %body
    .wrapper-for-content-outside-of-footer
      -include 'mainmenu.haml' with {'type': mytype}
      %main#main
        .hero
          .hero-inner
            %img(src="#{ base_url }/content/images/about/chefsselfie_custom.jpg" alt="Jacmoes Cyber Soapbox")
            .hero-copy
              %h1.hero-title Jacmoes Cyber Soapbox
              %p This is the homepage of Jacob Moen where he writes increasingly interesting things.
        .ui.horizontal.divider
          %i.fi-heart
        -if lastpost != null
          .latest-post
            Latest blog post:
          -include 'blogentry.haml' with {'entry': lastpost}
    / Common includes
    -include 'footer.haml' with {'type': mytype}
    -include 'scripts.haml'
    -include 'ga_track.haml'
