!!!
%html(lang="en")
  -set mytype = 'page'
  -include 'header.haml' with {'type': mytype}
  %body
    .wrapper-for-content-outside-of-footer
      -include 'mainmenu.haml' with {'type': mytype}
      %main#main
        / content
        =content
    / Common includes
    -include 'footer.haml' with {'type': mytype}
    -include 'scripts.haml'
    -include 'ga_track.haml'
